<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyy.dao.DepartmentMapper">
    <insert id="addDepartment">
        INSERT INTO T_DEPARTMENT VALUES (DEPART_SEQ.nextval,#{depart_name},#{depart_location},#{exist},to_date(#{create_time},'yyyy-mm-dd hh24:mi:ss'))
    </insert>
    <update id="updateDepartment">
        UPDATE T_DEPARTMENT SET "depart_name"=#{depart_name},"depart_location"=#{depart_location}
        where "depart_no"=#{depart_no}
    </update>
    <update id="updateDissolveDepartment">
        UPDATE T_DEPARTMENT SET "exist"=0 WHERE "depart_no"=#{depart_no}
    </update>
    <update id="updateRecoverDepartment">
        UPDATE T_DEPARTMENT SET "exist"=1 WHERE "depart_no"=#{depart_no}
    </update>
    <delete id="deleteDepartment">
        DELETE FROM T_DEPARTMENT WHERE depart_no=#{depart_no}
    </delete>
    <select id="getDepartment" resultType="com.xyy.model.Department">
        SELECT * FROM T_DEPARTMENT WHERE "depart_name"=#{depart_name}
    </select>
    <select id="getDepartments" resultType="com.xyy.model.Department">
        SELECT * FROM T_DEPARTMENT WHERE "exist" != 0
    </select>
    <select id="getDepartmentsAndPosition" resultMap="departmentPosition">
        SELECT * FROM T_DEPARTMENT D ,T_POSITION P WHERE D."depart_no"=P."depart_no"
        AND D."exist"=1 AND P."exist"=1
    </select>
    <select id="havingEmpDepart" resultType="com.xyy.model.Department">
        SELECT D.* FROM T_DEPARTMENT D ,T_POSITION P ,T_EMPLOYEE E
        WHERE D."depart_no"=P."depart_no" AND P."pos_no"=E."pos_no" AND
        E."dimission_time" IS NULL AND D."depart_no"=#{depart_no}
    </select>
    <select id="getManageDepartments" resultType="com.xyy.model.Department">
        SELECT * FROM T_DEPARTMENT
    </select>
    <resultMap id="departmentPosition" type="Department">
        <id property="depart_no" column="depart_no"/>
        <result property="depart_name" column="depart_name"/>
        <collection property="positionSet" ofType="Position">
            <id property="pos_no" column="pos_no"/>
            <result property="pos_name" column="pos_name"/>
        </collection>
    </resultMap>
</mapper>