<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyy.dao.EmployeeMapper">
    <insert id="addEmployee">
        INSERT INTO T_EMPLOYEE("e_id", "e_name", "birthday", "gender", "phone", "email",
        "pos_no", "entry_time", "id_no", "education", "state")
        VALUES (#{phone},#{e_name},to_date(#{entry_time},'yyyy-mm-dd hh24:mi:ss'),#{gender},#{phone},#{email},#{pos_no},
        to_date(#{entry_time},'yyyy-mm-dd hh24:mi:ss'),#{id_no},#{education},#{state})
    </insert>
    <insert id="addChangePos">
        INSERT INTO T_CHANGE_POS VALUES (CHANGE_POS_SEQ.nextval,#{e_id},#{origin_pos},#{new_pos},#{change_date})
    </insert>
    <update id="updateChangeGrade">
        UPDATE T_EMPLOYEE SET
         <if test="grade==1">
             "grade"=0
         </if>
        <if test="grade==0">
            "grade"=1
        </if>
        WHERE "e_id"=#{e_id}
    </update>
    <update id="updateChangePosition">
        UPDATE T_EMPLOYEE SET "pos_no"=#{pos_no} where "e_id"=#{e_id}
    </update>
    <update id="updateDimission">
        UPDATE T_EMPLOYEE SET "state"='离职',"dimission_reason"=#{dimission_reason},
        "dimission_time"=to_date(#{dimission_time},'yyyy-mm-dd hh24:mi:ss')
        where "e_id"=#{e_id}

    </update>
    <update id="updateChangeToNormal">
        UPDATE T_EMPLOYEE SET "state"='正式员工' WHERE "e_id"=#{e_id}
    </update>
    <select id="getEmployee" resultType="com.xyy.model.Employee">
        SELECT * FROM T_EMPLOYEE WHERE "e_id"=#{e_id} and "dimission_time" is null
    </select>
    <select id="getEmployees" resultType="com.xyy.model.Employee">
        SELECT E.*,D."depart_name",P."pos_name" FROM T_EMPLOYEE E ,T_DEPARTMENT D ,T_POSITION P
        WHERE D."depart_no"=P."depart_no" AND P."pos_no"=E."pos_no" ORDER BY "depart_name","pos_name"
    </select>
    <select id="getPositionEmployees" resultType="com.xyy.model.Employee">
       SELECT E.*,D."depart_name",P."pos_name" FROM T_EMPLOYEE E ,T_DEPARTMENT D ,T_POSITION P
        WHERE D."depart_no"=P."depart_no" AND P."pos_no"=E."pos_no" AND E."dimission_time" IS NULL AND E."pos_no"=#{pos_no}
        ORDER BY "depart_name","pos_name"
    </select>
    <select id="getDepartEmployees" resultType="com.xyy.model.Employee">
        SELECT E.*,D."depart_name",P."pos_name" FROM T_EMPLOYEE E ,T_DEPARTMENT D ,T_POSITION P
        WHERE D."depart_no"=P."depart_no" AND P."pos_no"=E."pos_no" AND E."dimission_time" IS NULL AND D."depart_no"=#{depart_no}
        ORDER BY "depart_name","pos_name"
    </select>
    <select id="getJoinTrainEmployees" resultType="com.xyy.model.Employee">
         SELECT E.*,D."depart_name",P."pos_name" FROM T_EMPLOYEE E ,T_DEPARTMENT D ,T_POSITION P ,T_TRAIN_RECORD R
        WHERE D."depart_no"=P."depart_no" AND P."pos_no"=E."pos_no" AND R."e_id"=E."e_id" AND R."train_no"=#{train_no}
        ORDER BY "depart_name","pos_name"
    </select>
    <select id="getNormalEmployees" resultType="com.xyy.model.Employee">
        SELECT E.*,D."depart_name",P."pos_name" FROM T_EMPLOYEE E ,T_DEPARTMENT D ,T_POSITION P
        WHERE D."depart_no"=P."depart_no" AND P."pos_no"=E."pos_no" AND E."dimission_time" IS NULL
        ORDER BY "depart_name","pos_name"

    </select>
    <select id="getThisMonthOnJobEmployees" resultType="com.xyy.model.Employee">
        SELECT * FROM T_EMPLOYEE WHERE "dimission_time" IS NULL
        OR substr("dimission_time",1,7)=#{month}
    </select>
    <select id="getThisMonthChangePos" resultType="com.xyy.model.ChangePos">
        SELECT * FROM T_CHANGE_POS WHERE "e_id"=#{employee.e_id}
        and substr("change_date",1,7)=#{month} ORDER BY "change_date"
    </select>
</mapper>