<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyy.dao.RewardAanPunishMapper">
    <insert id="addRewardPunish">
        INSERT INTO T_R_AND_P VALUES (R_AND_P_SEQ.nextval,#{e_id},#{type},#{time},
        #{reason},#{money},1)
    </insert>
    <update id="updateCancerRewordPunish">
        UPDATE T_R_AND_P SET "exist"=0 WHERE "r_and_p_no"=#{r_and_p_no}
    </update>
    <update id="updateExecuteRewordPunish">
       UPDATE T_R_AND_P SET "exist"=1 WHERE "r_and_p_no"=#{r_and_p_no}
    </update>
    <update id="updateRewardPunish">
        UPDATE T_R_AND_P SET "money"=#{money},"time"=#{time},"reason"=#{reason},"type"=#{type}
        where "r_and_p_no"=#{r_and_p_no}
    </update>
    <delete id="deleteRewardPunish">
        DELETE FROM T_R_AND_P WHERE "r_and_p_no"=#{r_and_p_no}
    </delete>
    <select id="getCurMonthRewardAndPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT R.*,E."e_name" FROM T_R_AND_P R,T_EMPLOYEE E WHERE E."e_id"=R."e_id" AND
        substr("time",1,7)=to_char(sysdate,'yyyy-mm') ORDER BY "time"
    </select>
    <select id="getRewardPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT R.*,E."e_name" FROM T_R_AND_P R,T_EMPLOYEE E WHERE E."e_id"=R."e_id"
        AND R."r_and_p_no"=#{r_and_p_no}
    </select>
    <select id="getThisMonthRewardAndPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT R.*,E."e_name" FROM T_R_AND_P R,T_EMPLOYEE E WHERE E."e_id"=R."e_id" AND
        substr("time",1,7)=#{month} ORDER BY "time"
    </select>
</mapper>