<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyy.dao.RewardAanPunishMapper">
    <insert id="addRewardPunish">
        INSERT INTO T_R_AND_P VALUES (R_AND_P_SEQ.nextval,#{e_id,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},
        #{time,jdbcType=VARCHAR},#{reason,jdbcType=VARCHAR},#{money,jdbcType=NUMERIC},1)
    </insert>

    <update id="updateCancerRewordPunish">
        UPDATE T_R_AND_P SET "exist"=0 WHERE "r_and_p_no"=#{r_and_p_no}
    </update>
    <update id="updateExecuteRewordPunish">
       UPDATE T_R_AND_P SET "exist"=1 WHERE "r_and_p_no"=#{r_and_p_no}
    </update>
    <update id="updateRewardPunish">
        UPDATE T_R_AND_P SET "money"=#{money},"time"=#{time},"reason"=#{reason},"type"=#{type}
        where "r_and_p_no"=#{r_and_p_no}
    </update>
    <delete id="deleteRewardPunish">
        DELETE FROM T_R_AND_P WHERE "r_and_p_no"=#{r_and_p_no}
    </delete>
    <select id="getCurMonthRewardAndPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT R.*,E."e_name" FROM T_R_AND_P R,T_EMPLOYEE E WHERE E."e_id"=R."e_id" AND
        substr("time",1,7)=to_char(sysdate,'yyyy-mm') ORDER BY "time"
    </select>
    <select id="getRewardPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT R.*,E."e_name" FROM T_R_AND_P R,T_EMPLOYEE E WHERE E."e_id"=R."e_id"
        AND R."r_and_p_no"=#{r_and_p_no}
    </select>
    <select id="getThisMonthRewardAndPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT R.*,E."e_name" FROM T_R_AND_P R,T_EMPLOYEE E WHERE E."e_id"=R."e_id" AND
        substr("time",1,7)=#{month} ORDER BY "time"
    </select>
    <select id="getEmpThisMonthExistReward" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "e_id"=#{employee.e_id} and "type" like '%奖励%'
        and substr("time",1,7)=#{month} and "exist"=1
    </select>
    <select id="getEmpThisMonthExistPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "e_id"=#{employee.e_id} and "type" like '%惩罚%'
        and substr("time",1,7)=#{month} and "exist"=1
    </select>
    <select id="getEmpTodayBeLatePunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "e_id"=#{e_id} and "type"='考勤惩罚' and "reason" like '%上班迟到%'
        and substr("time",1,10)=to_char(sysdate,'yyyy-mm-dd')
    </select>
    <select id="getEmpTodayLeaveEarlyPunish" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "e_id"=#{e_id} and "type"='考勤惩罚' and "reason" like '%下班早退%'
        and substr("time",1,10)=to_char(sysdate,'yyyy-mm-dd')
    </select>
    <select id="getEmpThisMonthOvertime" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "e_id"=#{employee.e_id} and "type"='加班' and substr("time",1,7)=#{month}

    </select>
    <select id="getEmpTodayOvertime" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "e_id"=#{e_id} and "type"='加班奖励'
        and substr("time",1,10)=to_char(sysdate,'yyyy-mm-dd')
    </select>
    <select id="getThisMonthSalaryReconsider" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "reason" LIKE '%${value}%'
    </select>
    <select id="getEmpThisMonthExistRP" resultType="com.xyy.model.RewardAanPunish">
        SELECT * FROM T_R_AND_P WHERE "e_id"=#{employee.e_id} and substr("time",1,10)=#{month}
    </select>
</mapper>